{{> header}}
<div class="container flex justify-center mx-auto flex-grow">
    <div class="bg-img"></div>
    <div class="w-full flex-row py-4">
        <div class="flex flex-col text-white">
            <h2 class="text-bold text-2xl">Contact</h2>
            <hr>
            <form id="contactForm" class="m-2 p-4 bg-c-thru" action="/api/contact" method="POST">
                <div class="m-2 p-4">
                    <label for="name">Name</label><br>
                    <input type="name" class="form-control text-black" name="name" id="name">
                </div>
                <div class="m-2 p-4">
                    <label for="phone">Phone Number</label><br>
                    <input type="text" class="form-control text-black" name="phone" id="phone">
                </div>
                <div class="m-2 p-4">
                    <label for="message">Message</label><br>
                    <textarea rows="3" class="form-control text-black" name="message" id="message"
                        placeholder="Hi, I need help with..."></textarea>
                </div>
                <div class="m-2 p-4 form-check">
                    <input type="checkbox" class="form-check-input" id="callMe">
                    <label class="form-check-label" for="callMe">Call to schedule an appointment</label><br>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {{!-- using jquery form plugin to capture form submit --}}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        $(document).ready(function () {
            $('#contactForm').ajaxSubmit(function () {
                location.href = "/contact";
            });
        });
    </script>
</div>
{{> footer}}