{{> header}}
<div class="container mx-auto">
    <div class="bg-img"></div>
    <h2 class="text-white text-2xl">Examples of my work <span class="text-xs"> <a href="https://github.com/chrisp-dev"
                target="_blank">github.com/chrisp-dev</a></span></h2>
    <hr>
    <div class="flex flex-wrap">
        <div class="w-1/4">
            <a href="fullsize.html">
                <img class="card-img" width="200" height="100" src="Assets/Images/CATLeaderboard.png"
                    alt="IronPlanet 2014 Live Bidding UI">
                <div class="card-image-overlay">
                    <div class="card-title">IronPlanet 2014 Live Bidding UI
                        <hr>
                        <span class="text-xs">Created with AngularJS and ColdFusion backend</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-1/4">
            <a href="https://chrisp-dev.github.io/drinkanator" target="_blank">
                <img class="card-img" width="200" height="100" src="Assets/Images/tender.PNG" alt="UW Project 1 Tender">
                <div class="card-image-overlay">
                    <div class="card-title">UW - Project 1 - 'Tender
                        <hr>
                        <span class="text-xs">Focus on consuming
                            multiple 3rd Party APIs</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-1/4">
            <a href="https://github.com/chrisp-dev/rad-project" target="_blank">
                <img class="card-img" width="200" height="100" src="/Assets/Images/handyman-rad.PNG"
                    alt="UW Project 2 RAD">
                <div class="card-image-overlay">
                    <div class="card-title">UW - Project 2 - RAD
                        <hr>
                        <span class="text-xs">Fullstack Application, MySQL+Express+Handlebars</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-1/4">
            <a href="https://chrisp-dev.github.io/weather-board/" target="_blank">
                <img class="card-img" width="200" height="100" src="Assets/Images/weatherb.PNG"
                    alt="UW Weather Dashboard">
                <div class="card-image-overlay">
                    <div class="card-title">UW - Weather Dashboard
                        <hr>
                        <span class="text-xs">Focus on REST API with
                            jQuery & layout with TailwindCSS</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-1/4">
            <a href="https://chrisp-dev.github.io/jsquiz" target="_blank">
                <img class="card-img" width="200" height="100" src="Assets/Images/codequiz.png"
                    alt="UW JavaScript Quiz">
                <div class="card-image-overlay">
                    <div class="card-title">UW - JavaScript Quiz
                        <hr>
                        <span class="text-xs">Focus on VanillaJS</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-1/4">
            <a href="https://chrisp-dev.github.io/workschedule" target="_blank">
                <img class="card-img" width="200" height="100" src="Assets/Images/workschedule.png"
                    alt="UW Work Day Scheduler">
                <div class="card-image-overlay">
                    <div class="card-title">UW - Work Day Scheduler
                        <hr>
                        <span class="text-xs">Focus on jQuery DOMManipulation</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-1/4">
            <a href="https://chrisp-dev.github.io/pwgen" target="_blank">
                <img class="card-img" width="200" height="100" src="Assets/Images/pwgen.PNG"
                    alt="UW Password Generator">
                <div class="card-image-overlay">
                    <div class="card-title">UW - Password Generator
                        <hr>
                        <span class="text-xs">Focus on Vanilla JS
                            and Accepting Input from the User</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{{> footer}}