html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: url('../Images/circle-blues.png');
    background-color: rgba(24, 247, 255, 0.4);
    background-blend-mode: lighten;
    font-family: 'Fira Code', sans-serif;
    font-size: 1rem;
}

.footer {
    background-color: #555566;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-top: 1px solid #4fdffd;
}

.page-content {
    flex: 1 0 auto;
}

.card-image {
    float: left;
    margin-right: 8px;
}

.navbar-brand {
    background:#59aaa5;
}

#sticky-footer {
    flex-shrink: 0;
}

.card-image-overlay {
    position: relative;
    bottom: 50px;
    background: #4fe0fd77;
    background-blend-mode: lighten;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* .navbar-brand {
    background-color: #4f9afd;
    font-weight: bold;
    margin: 0;
}

a:hover {
    background: #343a40;
    color: white!important;
} */

.navbar {
    padding: 0;
}