html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: url('../Images/scenic-view-of-forest-during-night-time-1252869.jpg');
    background-size: cover;
    background-repeat: none;
    /* background-color: rgba(24, 247, 255, 0.4); */
    /* background-blend-mode: lighten; */
    font-family: 'Fira Code', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-flow: column;
}

.profile-img {
    background: url(../Images/prof_pic.jpg);
    background-size: contain;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.footer {
    background-color: #555566;
    border-top: 1px solid #4fdffd;
    width: 100%;
}

.page-content {
    flex: 1 0 auto;
}

.navbar-brand {
    background: #59aaa5;
}

.card-image-overlay {
    position: relative;
    bottom: 50px;
    background: #4fe0fd77;
    background-blend-mode: lighten;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* .navbar-brand {
    background-color: #4f9afd;
    font-weight: bold;
    margin: 0;
}

a:hover {
    background: #343a40;
    color: white!important;
} */

.navbar {
    padding: 0;
}